<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
<div style="width: 1440px; height: 3974px; position: relative; background: white; overflow: hidden">
    <div style="width: 1440px; height: 123px; left: 0px; top: -3px; position: absolute; background: #F3F3F3"></div>
    <div style="width: 1440px; height: 867px; left: 0px; top: 766px; position: absolute; background: rgba(255, 255, 255, 0.40)"></div>
    <div style="width: 87px; height: 34px; left: 158px; top: 44px; position: absolute"></div>
    <img style="width: 1440px; height: 653px; left: 0px; top: 112px; position: absolute; opacity: 0.70" src="https://placehold.co/1440x653" />
    <div style="width: 1440px; height: 653px; left: 0px; top: 112px; position: absolute; background: rgba(3.50, 13.32, 121.37, 0.75)"></div>
    <div style="width: 244px; height: 61px; left: 409px; top: 582px; position: absolute; opacity: 0.80; border-top-left-radius: 35px; border-top-right-radius: 60px; border-bottom-right-radius: 35px; border-bottom-left-radius: 60px; border: 4px white solid"></div>
    <div style="width: 244px; height: 61px; left: 80px; top: 582px; position: absolute; opacity: 0.85; background: #FF7700; border-top-left-radius: 35px; border-top-right-radius: 60px; border-bottom-right-radius: 35px; border-bottom-left-radius: 60px"></div>
    <div style="width: 69px; height: 18px; left: 1270px; top: 38px; position: absolute; color: #0A169F; font-size: 18px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Contact</div>
    <div style="width: 102px; height: 18px; left: 1133px; top: 38px; position: absolute; color: #0A169F; font-size: 18px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Testimonials</div>
    <div style="width: 125px; height: 18px; left: 973px; top: 38px; position: absolute; color: #0A169F; font-size: 18px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Why Choose Us</div>
    <div style="width: 54px; height: 18px; left: 762px; top: 38px; position: absolute; color: #0A169F; font-size: 18px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">About </div>
    <div style="width: 50px; height: 18px; left: 677px; top: 38px; position: absolute; color: #FF6A00; font-size: 18px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Home</div>
    <div style="width: 563px; height: 99px; left: 76px; top: 235px; position: absolute; color: white; font-size: 48px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Repairing your house was never this easy!</div>
    <div style="width: 462px; height: 31px; left: 14px; top: 24px; position: absolute; color: #0A169F; font-size: 40px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Michelle Ultra Services</div>
    <div style="width: 573px; height: 138px; left: 80px; top: 397px; position: absolute; color: white; font-size: 20px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Esto es un texto de prueba para comprobar como pondremos el texto aqui abajo, que pondremos y que proposito cumplira en este diseño todavia no lo comprobamos al 100% y esta sujeto a cambios</div>
    <div style="width: 573px; height: 138px; left: 759px; top: 1016px; position: absolute; color: #301F0E; font-size: 20px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Esto es un texto de prueba para comprobar como pondremos el texto aqui abajo, que pondremos y que proposito cumplira en este diseño todavia no lo comprobamos al 100% y esta sujeto a cambios</div>
    <div style="width: 447px; height: 41px; left: 840px; top: 1199px; position: absolute; color: #301F0E; font-size: 20px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">JSJSJSJSJS JAJWEYAYU SJADAWDGYSTY</div>
    <div style="width: 447px; height: 41px; left: 840px; top: 1293px; position: absolute; color: #301F0E; font-size: 20px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">JSJSJSJSJS JAJWEYAYU SJADAWDGYSTY</div>
    <div style="width: 1447px; height: 1024px; left: -7px; top: 1633px; position: absolute; background: #EEE7E7"></div>
    <div style="width: 447px; height: 41px; left: 840px; top: 1411px; position: absolute; color: #301F0E; font-size: 20px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">JSJSJSJSJS JAJWEYAYU SJADAWDGYSTY</div>
    <div style="width: 183px; height: 21px; left: 129px; top: 598px; position: absolute; color: white; font-size: 22px; font-family: Noto Sans Georgian; font-weight: 700; word-wrap: break-word">Boton Prueba</div>
    <div style="width: 183px; height: 21px; left: 448px; top: 598px; position: absolute; color: white; font-size: 22px; font-family: Noto Sans Georgian; font-weight: 700; word-wrap: break-word">Boton Prueba</div>
    <div style="width: 213px; height: 36px; left: 640px; top: 845px; position: absolute; color: #0A169F; font-size: 48px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">About  Us</div>
    <div style="width: 213px; height: 36px; left: 939px; top: 940px; position: absolute; color: #0A169F; font-size: 48px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Special</div>
    <div style="width: 213px; height: 36px; left: 836px; top: 1157px; position: absolute; color: #0A169F; font-size: 30px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Special</div>
    <div style="width: 213px; height: 36px; left: 836px; top: 1362px; position: absolute; color: #0A169F; font-size: 30px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Special</div>
    <div style="width: 213px; height: 36px; left: 836px; top: 1253px; position: absolute; color: #0A169F; font-size: 30px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Special</div>
    <div style="width: 87px; height: 28px; left: 851px; top: 38px; position: absolute">
    <div style="width: 83px; height: 36px; left: 0px; top: 0px; position: absolute; color: #0A169F; font-size: 18px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Services</div>
    <div style="width: 14px; height: 5.44px; left: 73px; top: 6.22px; position: absolute; outline: 3px #0C05D7 solid; outline-offset: -1.50px"></div>
    </div>
    <div style="width: 56px; height: 0px; left: 674px; top: 80px; position: absolute; outline: 3px #FF7700 solid; outline-offset: -1.50px"></div>
    <div style="width: 60px; height: 60px; left: 747px; top: 1187px; position: absolute; background: rgba(255, 119, 0, 0.80)"></div>
    <div style="width: 60px; height: 60px; left: 747px; top: 1283px; position: absolute; background: rgba(255, 119, 0, 0.80)"></div>
    <div style="width: 60px; height: 60px; left: 747px; top: 1388px; position: absolute; background: rgba(255, 119, 0, 0.80)"></div>
    <div style="width: 184px; height: 0px; left: 646px; top: 913px; position: absolute; outline: 4px #FF7700 solid; outline-offset: -2px"></div>
    <div style="width: 184px; height: 0px; left: 627px; top: 1743px; position: absolute; outline: 4px #FF7700 solid; outline-offset: -2px"></div>
    <div style="width: 184px; height: 0px; left: 622px; top: 2803px; position: absolute; outline: 4px #FF7700 solid; outline-offset: -2px"></div>
    <div style="width: 34px; height: 34px; left: 428px; top: 27px; position: absolute; background: #F3F3F3; outline: 7px #FF7700 solid; outline-offset: -3.50px"></div>
    <div style="width: 35px; height: 35px; left: 1374px; top: 26px; position: absolute; outline: 2px #FF7700 solid; outline-offset: -1px"></div>
    <img style="width: 605px; height: 405px; left: 108px; top: 996px; position: absolute; border-radius: 30px" src="https://placehold.co/605x405" />
    <div style="width: 35px; height: 35px; left: 759px; top: 1199px; position: absolute; outline: 4px white solid; outline-offset: -2px"></div>
    <div style="width: 35px; height: 35px; left: 759px; top: 1293px; position: absolute; outline: 4px white solid; outline-offset: -2px"></div>
    <div style="width: 35px; height: 35px; left: 759px; top: 1401px; position: absolute; outline: 4px var(--icon-color, white) solid; outline-offset: -2px"></div>
    <div style="width: 332px; height: 62px; left: 553px; top: 1667px; position: absolute; color: #0A169F; font-size: 48px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Why Choose Us</div>
    <div style="width: 469px; height: 62px; left: 485px; top: 2720px; position: absolute; color: #0A169F; font-size: 48px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">What Our Clients Say</div>
    <div style="width: 375px; height: 340px; left: 531px; top: 1822px; position: absolute; background: white; border-radius: 40px"></div>
    <div style="width: 375px; height: 340px; left: 80px; top: 1822px; position: absolute; background: white; border-radius: 40px"></div>
    <div style="width: 375px; height: 340px; left: 982px; top: 1822px; position: absolute; background: white; border-radius: 40px"></div>
    <div style="width: 375px; height: 340px; left: 531px; top: 2189px; position: absolute; background: white; border-radius: 40px"></div>
    <div style="width: 375px; height: 300px; left: 80px; top: 2896px; position: absolute; background: white; box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 40px"></div>
    <div style="width: 375px; height: 300px; left: 532px; top: 2896px; position: absolute; background: white; box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 40px"></div>
    <div style="width: 375px; height: 300px; left: 982px; top: 2896px; position: absolute; background: white; box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 40px"></div>
    <div style="width: 375px; height: 340px; left: 80px; top: 2189px; position: absolute; background: white; border-radius: 40px"></div>
    <div style="width: 375px; height: 340px; left: 982px; top: 2189px; position: absolute; background: white; border-radius: 40px"></div>
    <div style="width: 50px; height: 30.55px; left: 218px; top: 1924px; position: absolute; background: #FF7700; outline: 2px white solid; outline-offset: -1px"></div>
    <div style="width: 65px; height: 65px; left: 103px; top: 3098px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
    <div style="width: 65px; height: 65px; left: 557px; top: 3098px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
    <div style="width: 213px; height: 36px; left: 191px; top: 3095px; position: absolute; color: #061186; font-size: 28px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Kamito lol</div>
    <div style="width: 213px; height: 36px; left: 191px; top: 3131px; position: absolute; color: #2F2F2F; font-size: 22px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Kitchen Renovation</div>
    <div style="width: 213px; height: 36px; left: 645px; top: 3131px; position: absolute; color: #2F2F2F; font-size: 22px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Kitchen Renovation</div>
    <div style="width: 319px; height: 162px; left: 564px; top: 2921px; position: absolute; color: #2F2F2F; font-size: 22px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">“Aqui deberia ir la reseña del cliente pero como no tenemos todavia y queremos ejemplificar jajajajajajaajaajajajajaajajajajaajajajaajajaja.”</div>
    <div style="width: 319px; height: 162px; left: 108px; top: 2922px; position: absolute; color: #2F2F2F; font-size: 22px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">“Aqui deberia ir la reseña del cliente pero como no tenemos todavia y queremos ejemplificar jajajajajajaajaajajajajaajajajajaajajajaajajaja.”</div>
    <div style="width: 319px; height: 162px; left: 1021px; top: 2922px; position: absolute; color: #2F2F2F; font-size: 22px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">“Aqui deberia ir la reseña del cliente pero como no tenemos todavia y queremos ejemplificar jajajajajajaajaajajajajaajajajajaajajajaajajaja.”</div>
    <div style="width: 213px; height: 36px; left: 1097px; top: 3131px; position: absolute; color: #2F2F2F; font-size: 22px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Kitchen Renovation</div>
    <div style="width: 213px; height: 36px; left: 645px; top: 3095px; position: absolute; color: #061186; font-size: 28px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Kamito lol</div>
    <div style="width: 213px; height: 36px; left: 1097px; top: 3095px; position: absolute; color: #061186; font-size: 28px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Kamito lol</div>
    <div style="width: 65px; height: 65px; left: 1009px; top: 3098px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
    <div style="width: 1440px; height: 499px; left: 0px; top: 3489px; position: absolute; background: #080E59"></div>
    <div style="width: 38px; height: 38px; left: 28px; top: 3530px; position: absolute; background: #FF7700; outline: 7px #FF7700 solid; outline-offset: -3.50px"></div>
    <div style="width: 462px; height: 31px; left: 95px; top: 3528px; position: absolute; color: #E4F0FF; font-size: 40px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Michelle Ultra Services</div>
    <div style="width: 462px; height: 52px; left: 570px; top: 3507px; position: absolute; color: #E4F0FF; font-size: 25px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Quick Links</div>
    <div style="width: 462px; height: 52px; left: 570px; top: 3582px; position: absolute; color: #E4F0FF; font-size: 25px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Home</div>
    <div style="width: 462px; height: 52px; left: 570px; top: 3642px; position: absolute; color: #E4F0FF; font-size: 25px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Home</div>
    <div style="width: 462px; height: 52px; left: 570px; top: 3705px; position: absolute; color: #E4F0FF; font-size: 25px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Home</div>
    <div style="width: 462px; height: 52px; left: 570px; top: 3757px; position: absolute; color: #E4F0FF; font-size: 25px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Home</div>
    <div style="width: 462px; height: 52px; left: 816px; top: 3585px; position: absolute; color: #E4F0FF; font-size: 25px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Home</div>
    <div style="width: 462px; height: 52px; left: 1173px; top: 3584px; position: absolute; color: #E4F0FF; font-size: 25px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Home</div>
    <div style="width: 462px; height: 52px; left: 816px; top: 3640px; position: absolute; color: #E4F0FF; font-size: 25px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Home</div>
    <div style="width: 462px; height: 52px; left: 1173px; top: 3644px; position: absolute; color: #E4F0FF; font-size: 25px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Home</div>
    <div style="width: 462px; height: 52px; left: 1173px; top: 3699px; position: absolute; color: #E4F0FF; font-size: 25px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Home</div>
    <div style="width: 462px; height: 52px; left: 1173px; top: 3758px; position: absolute; color: #E4F0FF; font-size: 25px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Home</div>
    <div style="width: 462px; height: 52px; left: 816px; top: 3705px; position: absolute; color: #E4F0FF; font-size: 25px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Home</div>
    <div style="width: 462px; height: 52px; left: 816px; top: 3756px; position: absolute; color: #E4F0FF; font-size: 25px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Home</div>
<div style="width: 462px; height: 67px; left: 37px; top: 3634px; position: absolute; color: #E4F0FF; font-size: 25px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">hdhdhdhhdhdhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhdddddddddddd</div>
<div style="width: 462px; height: 52px; left: 816px; top: 3508px; position: absolute; color: #E4F0FF; font-size: 25px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Our Services</div>
<div style="width: 462px; height: 52px; left: 1143px; top: 3507px; position: absolute; color: #E4F0FF; font-size: 25px; font-family: Cal Sans; font-weight: 400; word-wrap: break-word">Contact  info</div>
<div data-color="Negative" data-platform="Facebook" style="width: 30px; height: 30px; left: 37px; top: 3755px; position: absolute; overflow: hidden">
<div style="width: 30px; height: 29.89px; left: 0px; top: 0px; position: absolute; background: white"></div>
</div>
<div data-color="Negative" data-platform="X (Twitter)" style="width: 30px; height: 30px; left: 107px; top: 3755px; position: absolute; overflow: hidden">
<div style="width: 27.50px; height: 24.86px; left: 1.25px; top: 2.38px; position: absolute; background: white"></div>
</div>
<div data-color="Negative" data-platform="LinkedIn" style="width: 30px; height: 30px; left: 177px; top: 3755px; position: absolute; overflow: hidden">
<div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute; background: white"></div>
</div>
<div data-color="Negative" data-platform="Pinterest" style="width: 30px; height: 30px; left: 247px; top: 3755px; position: absolute; overflow: hidden">
    <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute; background: white"></div>
</div>
<div data-color="Negative" data-platform="Instagram" style="width: 30px; height: 30px; left: 317px; top: 3755px; position: absolute; overflow: hidden">
    <div style="width: 29.98px; height: 29.99px; left: 0px; top: 0px; position: absolute; background: white"></div>
    <div style="width: 15.41px; height: 15.41px; left: 7.29px; top: 7.29px; position: absolute; background: white"></div>
    <div style="width: 3.60px; height: 3.60px; left: 21.21px; top: 5.19px; position: absolute; background: white"></div>
</div>
</div>
        <script src="" async defer></script>
    </body>
</html>